{{>header}}
{{>navbar}}
    <td>{{img.albumId}}</td>
    <td>{{img.id}}</td>
    <td>{{img.title}}</td>
    <td><img src="{{img.url}}" height="50" width="50"></td>
    <td><img src="{{img.thumbnailUrl}}" height="50" width="50"></td>
                    
{{>footer}}